@charset "utf-8";
h1{
    text-align: center;
}

#dice{
    margin: auto;
    width: 200px;
    background: red;
    color: white;
    font-size: 200px;
    text-align: center;
    cursor: pointer;
}


#fortune{
    background: pink;
    width: 300px;
    font-size: 50px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
